* {box-sizing: border-box;}
body {
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 80%;
}
.header {
    background-color: #EEEFF1;
    overflow: hidden;
    padding-top: 50px;
}
.header-logo {
    float: left;
    width: 40%;
}
.main-header-loyout{
    float: left;
    width: 12%;
    color: #34547A;
    text-align: center;
}
.main-header {
    float: left;
    width: 12%;
    text-align: center;
}
.main-loyaut {
    background-color: #EEEFF1;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-loyaut-left {
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-left: 50px;
}
.main-loyaut-right {
    float: left;
    width: 50%;
}
.main-loyaut-right-title {
    padding-bottom: 50px;
    font-size: 50px;
    height: 100px;
}
.main-loyaut-right-discription {
    padding-bottom: 50px;
    font-size: 16px;
    height: 30px;
    color: #727272;
    padding-right: 10px;
}
.main-loyaut-right-button {
    padding-top: 50px;
    padding-bottom: 50px;  
}
.loyaut-button {
    background-color: #34547A;
    color: white;
    width: 225px;
    height: 65px;
}
.about-us {
    padding: 50px 50px;
}
.about-us-title {
    text-align: center;
    font-size: 32px;
    padding-bottom: 50px;
}
.about-us-discription {
   text-align: center;
   margin: 0 auto;
   font-size: 18px;
   width: 90%;
   color: #727272;
}
.item {
    background-color: #34547A;
    overflow: hidden;
}
.item-block {
    float: left;
    width: 13vw;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}
.item-img {
    float: left;
}
.number {
    color: white;
    margin-bottom: 10px;
    margin-left: 60px;
}
.project {
    color: white;
    margin-left: 60px;
}
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.all-skills {
    float: left;
    width: 50%;
}
.my-skills {
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 100px;
}
.photoshop-skills {
    font-size: 20px;
    padding-bottom: 10px;
    color: #727272;
    padding-top: 20px;
}
.skill-result {
    width: 60%;
    height: 4px;
    background-color: #34547A;
    float: left;
}
.skill-level {
    width: 80%;
    height: 4px;
    background-color: #C4C4C4;
}
.my-photo {
    width: 50%;
    float: left;
}
.my-photo-img {
    width: 500px; 
    padding-right: 30px;
    padding-top: 50px;
}
.my-work {
    padding: 50px 50px;
    background-color: #EEEFF1;
}
.about-my-work {
    text-align: center;
    font-size: 32px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.work-discription {
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    width: 90%;
    color: #727272;
    padding-bottom: 45px;
}
.play-button {
    text-align: center;
    margin: 0 auto;
    background-image: url(video.png);
    background-size: cover;
    height: 500px;
}
.play-button-img {
    padding-top: 200px;
    width: 10%;
}
.pictures {
    margin-top: 25px;
    overflow: hidden;
    width: 100%;
}
.picture-block-paper {
    width: 25%;
    height: 300px;
    background-image: url(picture.png);
    background-size: cover;
    float: left;
    text-align: center;
}
.picture-block-paper:hover {
    box-shadow: inset 0px 0px 0px 700px #18141467;
}
.picture-block-comp-shadow {
    width: 25%;
    height: 300px;
    background-image: url(picture2.png);
    background-size: coer;
    text-align: center;
    float: left;
}
.picture-block-comp-shadow:hover {
    box-shadow: inset 0px 0px 0px 700px #d1ce0c71;
}
.view {
    padding-top: 100px;
}
.picture-block-comp {
    width: 25%;
    height: 300px;
    background-image: url(picture3.png);
    background-size: cover;
    float: left;
    text-align: center;
}
.picture-block-comp:hover {
    box-shadow: inset 0px 0px 0px 700px #18141467;
}
.microsoft {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.microsoft-logo {
    float: left;
    text-align: center;
    width: 25%;
}
.microsoft-logo-img {
    width: 70%;
}
.feedback {
    padding: 50px 50px;
    background-color: #EEEFF1;
}
.feedback-title {
    text-align: center;
    font-size: 32px;
    padding-bottom: 30px;
}
.feedback-discription {
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    width: 90%;
    color: #727272;
    padding-bottom: 20px;
}
.connect {
    text-align: center;
    width: 330px;
    margin: 0 auto;
}
.connect-name {
    text-align: center;
    float: left;
    padding-right: 25px;
}
.name-aria {
    padding: 5px;
    outline: none;
}
.connect-mail {
    padding-bottom: 20px;
}
.mail-aria {
    padding: 5px;
    outline: none;
}
.connect-message {

}
.message-aria {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
}
.feedback-enter-button {
    background-color: #34547A;
    color: white;
    width: 200px;
    height: 50px;
}
.feedback-button {
    padding-top: 30px;
    
}
.footer {
    background-color: #34547A;
    overflow: hidden;
    height: 100px;
    padding-top: 30px;
}
.footer-left {
    float: left;
    width: 50%;
    color: white;
}
.footer-name {

}
.footer-discription {

}
.footer-right {
    width: 50%;
    text-align: right;
    float: left;
    padding-left: 320px;
}
.footer-img {
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 33%;
}
.vk-img {
    width: 100%;
}
@media (max-width: 2560px) {
    .vk-img {
        width: 40%;
    }
}
@media (max-width: 1024px) {
    .frame-png {
        width: 80%;
    }
    .main-header-loyout{
        font-size: 13px;
    }
    .main-header {
        font-size: 13px;
    }
    .main-loyaut-right-title {
        font-size: 30px;
        height: 50px;
    }
    .footer-right {
        width: 50%;
        text-align: right;
        float: left;
        padding-left: 220px;
    }
}
@media (max-width: 900px) {
    .item-block {
        width: 33.3%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .my-photo-img {
        width: 100%;
        padding-right: 0px;
        padding-top: 0px;
    }
    .my-photo {
        text-align: right;
    }
    .my-skills {
        padding-top: 10px;
    }
    .vk-img {
        width: 100%;
    }
    .play-button {
        height: 300px;
    }
    .play-button-img {
        padding-top: 120px;
    }
    .picture-block-paper {
        width: 25%;
        height: 150px;
    }
    .picture-block-comp-shadow {
        width: 25%;
        height: 150px;
    }
    .view {
        padding-top: 60px;
        width: 30%;
    }
    .picture-block-comp {
        width: 25%;
        height: 150px;
    }
}
@media (max-width: 768px) {
    .header-logo {
        width: 15%;
    }
    .wd-img {
        width: 80%;
    }
    .main-header-loyout{
        font-size: 10px;
        width: 17%;
    }
    .main-header {
        font-size: 10px;
        width: 17%;
    }
    .main-loyaut-left {
        padding-left: 0px;
    }
    .main-loyaut-right-title {
        font-size: 23px;
        height: 30px;
    }
    .main-loyaut-right-discription {
        font-size: 15px;

    }
    .main-loyaut-right-button {
        padding-top: 100px;
        padding-bottom: 10px;  
    }
    .loyaut-button {
        width: 80%;
        height: 65px;
    }
    .paper-img {
        width: 80%;
        padding-left: 10px;
    }
    .number {
        font-size: 13px;
    }
    .project {
        font-size: 13px;
    }
    .picture-block-paper {
        width: 50%;
        height: 150px;
    }
    .picture-block-comp-shadow {
        width: 50%;
        height: 150px;
    }
    .view {
        padding-top: 30px;
        width: 30%;
    }
    .picture-block-comp {
        width: 50%;
        height: 150px;
    }
    .vk-img {
        width: 200%;
    }
}